name: Check latest Neovim version
on:
  push:
  workflow_dispatch:
  schedule:
    - cron: "0/5 0 * * *"

jobs:
  latest:
    runs-on: ubuntu-latest
    env:
      ARTIFACT_ROOT: /tmp/latest
    steps:
    # https://stackoverflow.com/a/60942437
    - name: Get current date
      id: date
      run: echo "date=$(date +'%Y-%m-%d')" >> "$GITHUB_OUTPUT"

    - name: Check out repository code
      uses: actions/checkout@v6

    - name: Check latest Neovim version
      run: build/latest.sh -B
      env:
        GH_TOKEN: ${{ github.token }}

    - name: Extract Neovim version
      if: success() || failure()
      id: neovim
      run: echo "version=$(cat version)" >> "$GITHUB_OUTPUT"

    - name: Keep changes
      if: success() || failure()
      run: |
        mkdir -p "${{ env.ARTIFACT_ROOT }}/${{ env.ARTIFACT }}"
        git diff --output="${{ env.ARTIFACT_ROOT }}/${{ env.ARTIFACT }}/${{ github.job }}.patch"
        cat "${{ env.ARTIFACT_ROOT }}/${{ env.ARTIFACT }}/${{ github.job }}.patch"
      env:
        ARTIFACT: &artifact "${{ github.job }}_${{ steps.date.outputs.date }}_${{ steps.neovim.outputs.version }}_${{ github.run_id }}"

    - name: Keep artifacts
      if: success() || failure()
      uses: actions/upload-artifact@v4
      with:
        name: *artifact
        path: "${{ env.ARTIFACT_ROOT }}"
