name: Check latest Neovim version
on:
  push:
  workflow_dispatch:
  schedule:
    - cron: "0/5 0 * * *"

jobs:
  latest:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository code
      uses: actions/checkout@v4

    - name: Check latest Neovim version
      run: build/latest.sh -B
      env:
        GH_TOKEN: ${{ github.token }}
