name: Check latest Neovim version
on:
  push:
  workflow_dispatch:
  schedule:
    - cron: "0/5 0 * * *"

jobs:
  latest:
    runs-on: ubuntu-latest
    env:
      LATEST_WORKDIR: /tmp/latest
    steps:
    # https://stackoverflow.com/a/60942437
    - name: Get current date
      id: date
      run: echo "date=$(date +'%Y-%m-%d')" >> "$GITHUB_OUTPUT"

    - name: Check out repository code
      uses: actions/checkout@v4

    - name: Check latest Neovim version
      run: build/latest.sh -B
      env:
        GH_TOKEN: ${{ github.token }}

    - name: Keep changes
      if: success() || failure()
      run: |
        mkdir -p "${{ env.LATEST_WORKDIR }}"
        git diff | tee "${{ env.LATEST_WORKDIR }}/latest.patch"
        echo "version=$(cat version)" >> "$GITHUB_OUTPUT"

    - name: Keep artifacts
      if: success() || failure()
      uses: actions/upload-artifact@v4
      with:
        name: "latest-${{ steps.date.outputs.date }}_${{ steps.neovim.outputs.version }}_${{ github.run_id }}"
        path: "${{ env.LATEST_WORKDIR }}"
