name: Tests
on:
  push:
  workflow_dispatch:
  schedule:
    - cron: "0/5 0 * * *"

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        distro: [ "archlinux", "debian", "ubuntu" ]
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.distro }}:latest
    env:
      TESTS_WORKDIR: /tmp/tests
    steps:
    # https://stackoverflow.com/a/60942437
    - name: Get current date
      id: date
      run: echo "date=$(date +'%Y-%m-%d')" >> "$GITHUB_OUTPUT"

    - name: Check out preparation files
      uses: actions/checkout@v4
      with:
        fetch-depth: 1
        sparse-checkout: .github/prepare
        sparse-checkout-cone-mode: false

    - name: Prepare build environment
      run: .github/prepare -u


    - name: Check out repository code
      uses: actions/checkout@v4

    - name: Get current Neovim version
      id: neovim
      run: echo "version=$(cat version)" >> "$GITHUB_OUTPUT"


    - name: Restore cached Neovim build
      id: cache-neovim
      uses: actions/cache/restore@v4
      with:
        path: root/${{ steps.neovim.outputs.version }}
        key: ${{ matrix.distro }}_${{ steps.date.outputs.date }}_${{ steps.neovim.outputs.version }}

    - name: Install build dependencies
      if: steps.cache-neovim.outputs.cache-hit != 'true'
      run: .github/deps -b

    - name: Build
      if: steps.cache-neovim.outputs.cache-hit != 'true'
      run: make build

    - name: Remove build dependencies
      if: steps.cache-neovim.outputs.cache-hit != 'true'
      run: .github/deps -b -R

    - name: Save Neovim build
      if: steps.cache-neovim.outputs.cache-hit != 'true'
      uses: actions/cache/save@v4
      with:
        path: root/${{ steps.neovim.outputs.version }}
        key: ${{ steps.cache-neovim.outputs.cache-primary-key }}


    - name: Install runtime dependencies
      run: .github/deps -r

    - name: Install/update plugins
      run: ./plugins ${{ github.event.schedule && 'update' || 'install' }}


    - name: Install test dependencies
      run: .github/deps -t

    - name: Run tests
      run: make tests
      env:
        DOT_NVIM_TESTS_WORKDIR: "${{ env.TESTS_WORKDIR }}/tests-${{ matrix.distro }}_${{ steps.date.outputs.date }}_${{ steps.neovim.outputs.version }}_${{ github.run_id }}"

    - name: Keep test artifacts
      if: success() || failure()
      uses: actions/upload-artifact@v4
      with:
        name: "tests-${{ matrix.distro }}_${{ steps.date.outputs.date }}_${{ steps.neovim.outputs.version }}_${{ github.run_id }}"
        path: "${{ env.TESTS_WORKDIR }}"
