name: Tests
on:
  push:
#  schedule:
#    - cron: "0 0 * * *"

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        distro: [ "archlinux:latest", "debian:latest", "ubuntu:latest" ]
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.distro }}
    steps:
    - name: Check out preparation files
      uses: actions/checkout@v4
      with:
        fetch-depth: 1
        sparse-checkout: .github/prepare
        sparse-checkout-cone-mode: false

    - name: Prepare build environment
      run: .github/prepare -u

    - name: Check out repository code
      uses: actions/checkout@v4

    - name: Install dependencies
      run: .github/deps -brt

    - name: Build
      run: make build

    - name: Run tests
      run: make tests
