name: Tests
on:
  push:
#  schedule:
#    - cron: "0 0 * * *"

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        distro: [ "archlinux", "debian", "ubuntu" ]
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.distro }}:latest
    steps:
    # https://stackoverflow.com/a/60942437
    - name: Get current date
      id: date
      run: echo "date=$(date +'%Y-%m-%d')" >> "$GITHUB_OUTPUT"

    - name: Check out preparation files
      uses: actions/checkout@v4
      with:
        fetch-depth: 1
        sparse-checkout: .github/prepare
        sparse-checkout-cone-mode: false

    - name: Prepare build environment
      run: .github/prepare -u


    - name: Check out repository code
      uses: actions/checkout@v4

    - name: Get current Neovim version
      id: neovim
      run: echo "version=$(<version)" >> "$GITHUB_OUTPUT"


    - name: Restore cached Neovim build
      id: cache-neovim-restore
      uses: actions/cache/restore@v4
      with:
          path: |
              root/${{ steps.neovim.outputs.version }}
          key: ${{ matrix.distro }}_${{ steps.neovim.outputs.version }}_${{ steps.date.outputs.date }}

    - name: Install build dependencies
      if: steps.cache-neovim-restore.outputs.cache-hit != 'true'
      run: .github/deps -b

    - name: Build
      if: steps.cache-neovim-restore.outputs.cache-hit != 'true'
      run: make build


    - name: Install runtime dependencies
      run: .github/deps -r

    - name: Install plugins
      run: make sync


    #- name: Install test dependencies
      #run: .github/deps -t

    #- name: Run tests
      #run: make tests
