name: Tests
on:
  push:
#  schedule:
#    - cron: "0 0 * * *"

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        distro: [ "archlinux", "debian", "ubuntu" ]
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.distro }}:latest
    steps:
    # https://stackoverflow.com/a/60942437
    - name: Get current date
      id: date
      run: echo "date=$(date +'%Y-%m-%d')" >> "$GITHUB_OUTPUT"

    - name: Check out preparation files
      uses: actions/checkout@v4
      with:
        fetch-depth: 1
        sparse-checkout: .github/prepare
        sparse-checkout-cone-mode: false

    - name: Prepare build environment
      run: .github/prepare -u


    - name: Check out repository code
      uses: actions/checkout@v4

    - name: Get current Neovim version
      id: neovim
      run: echo "version=$(cat version)" >> "$GITHUB_OUTPUT"


    - name: Cache Neovim build
      id: cache-neovim
      uses: actions/cache@v4
      with:
          path: |
              root/${{ steps.neovim.outputs.version }}
          key: ${{ matrix.distro }}_${{ steps.date.outputs.date }}_${{ steps.neovim.outputs.version }}

    - name: Install build dependencies
      if: steps.cache-neovim.outputs.cache-hit != 'true'
      run: .github/deps -b

    - name: Build
      if: steps.cache-neovim.outputs.cache-hit != 'true'
      run: make build


    - name: Install runtime dependencies
      run: .github/deps -r

    - name: Install plugins
      run: ./sync
      env:
        DOT_NVIM_ME:


    #- name: Install test dependencies
      #run: .github/deps -t

    #- name: Run tests
      #run: make tests
